:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --focus-color: #2196f3;
  --bg-color: #ffffff;
  --secondarybg-color: #2f303a;
  --text-focus-color: #ffffff;
  --icon-color: #afb1b8;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
/*                                              container*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*                                               лого */
.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.header .logo-piece {
  color: var(--title-color);
}
.footer .logo-piece {
  color: var(--bg-color);
}
/*                                            LINK*/
.link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: var(--hover-color);
}
.link:focus {
  color: var(--focus-color);
}
.link.current {
  color: var(--hover-color);
}
.link-contact {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact:hover {
  color: var(--hover-color);
}
.link-contact:focus {
  color: var(--focus-color);
}
.link-contact-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact-footer:hover {
  color: var(--hover-color);
}
.link-contact-footer:focus {
  color: var(--focus-color);
}
/*                                       title,text */
.address-footer {
  color: var(--bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.section-title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-hero-title {
  color: var(--bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.section-skill .title {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-skill .text {
  font-size: 14px;
  line-height: 1.71;
}

.section-comand .title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-comand .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.footer .title {
  color: var(--text-focus-color);
  font-size: 14px;
  line-height: 0.88;
  text-transform: uppercase;
}

.section-portfolio .title {
  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-portfolio .variety {
  font-size: 16px;
  line-height: 1.9;
}
/*                      button */
.button {
  color: var(--bg-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  margin: 0px auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  color: var(--text-focus-color);
  background-color: #188ce8;
}
button:focus {
  color: var(--text-focus-color);
  background-color: #188ce8;
}
.button-portfolio {
  color: var(--title-color);
  background-color: F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  min-width: 80px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover {
  color: var(--bg-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio:focus {
  color: var(--bg-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  margin-left: 93px;
}
.header-adress {
  display: flex;
  margin-left: auto;
}
.header-logo {
  padding-top: 25px;
  padding-bottom: 24px;
}
.header-list .item + .item {
  margin-left: 50px;
  align-items: center;
}
.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .link-contact {
  display: flex;
  align-items: center;
}
.header-adress .item:not(:last-child) {
  margin-right: 50px;
}
.header .icon {
  margin-right: 10px;
  fill: var(--text-color);
}

.header .link:hover .icon {
  fill: currentColor;
}
.header .item:hover {
  color: var (--hover-color);
}
.header .link:focus .icon {
  fill: currentColor;
}
.header .item:focuc {
  color: var (--hover-color);
}

/* =====  hero  ====== */

.section-hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bghero.jpg);
  background-position: center;
  background-size: content;
  background-repeat: no-repeat;
}

/* max width 1600 !!!!!!!!!!!!!!!*/
.section-hero {
  padding-top: 201px;
  padding-bottom: 199px;
}
.section-hero .button {
  margin-left: auto;
  margin-right: auto;
}
/* ======  skill ====== */
.section-skill-list {
  display: flex;
  margin-right: -30px;
}
.section-skill {
  padding-top: 94px;
}
.section-skill .title {
  margin-bottom: 10px;
}

.section-skill-list .item:not(:last-child) {
  margin-right: 30px;
}
.section-skill-list .item {
  width: calc(100% / 4 - 30px);
}
.section-skill-list .big-icon {
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/* class */

.section-class {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-class .list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: -30px;
}
.section-class .item {
  margin-left: 30px;
}
/*  comand */

.section-comand {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.section-comand .list {
  display: flex;
  /* justify-content: space-between;  ??????? почему пробивает флекс сквозь несколко вложений? */
}
.section-comand .item:not(:last-child) {
  margin-right: 30px;
}
.section-comand .title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.section-comand .item {
  background-color: var(--bg-color);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.soc-item {
  width: 44px;
  height: 44px;
}
.soc-item:not(:last-child) {
  margin-right: 10px;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:focus {
  background-color: var(--focus-color);
}
.soc-link:hover {
  background-color: var(--hover-color);
}

.soc-link .soc-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:focus .soc-icon {
  fill: var(--text-focus-color);
}
.soc-link:hover .soc-icon {
  fill: var(--text-focus-color);
}
.soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
/* .section-comand .item-soc:hover {
  background-color: var(--focus-color);
}

}

.link-soc-item-comand:hover {
  color: var(--hover-color);
} */

/* ==================client================= */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link:hover {
  border: 1px solid var(--hover-color);
}
.client-link:focus {
  border: 1px solid var(--hover-color);
}
.client-link .client-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:focus .client-icon {
  fill: var(--focus-color);
}
.client-link:hover .client-icon {
  fill: var(--hover-color);
}

/*  portfolio     */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-portfolio-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}
.section-portfolio-list .item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-portfolio-filter .item:not(:last-child) {
  margin-right: 9px;
}
.name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.variety {
  margin-top: 4px;
}
.text-btn {
  padding: 6px 22px;
}

.portfolio-psevdo-link {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-psevdo-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-psevdo-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ==== footer ==== */
.footer {
  background-color: var(--secondarybg-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  display: block;
}
.address-footer {
  margin-bottom: 9px;
  margin-top: 20px;
}
footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.svg-tell {
  fill: #757575;
}
.footer .container {
  display: flex;
}
.join {
  margin-left: 65px;
  padding-top: 14px;
}
.footer .soc-icon {
  fill: var(--bg-color);
}
.footer .soc-link {
  background: rgba(255, 255, 255, 0.1);
}
.footer .soc-link:focus {
  background-color: var(--focus-color);
}
.footer .soc-link:hover {
  background-color: var(--hover-color);
}
